<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>JobsHere App | Listado de Solicitudes de Empleo</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	rel="stylesheet">
</head>

<body>
	<header th:insert="fragments/menu :: menu-main"> </header>

	<main role="main">
		<hr>
		<div class="container">

			<div class="card">
				<h4 class="card-header">
					<strong>Listado de Solicitudes de Empleo</strong>
				</h4>
				<div class="card-body">
				<div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
					<table class="table table-hover">
						<thead class="thead-light">
							<tr>
								<th scope="col">Categoría</th>
								<th scope="col">Vacante</th>
								<th scope="col">Nombre Candidato</th>
								<th scope="col">Recibida.</th>
								<th scope="col">Operaciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="tprequest : ${request}">
								<td th:text="${tprequest.idVacant.category.name}"></td>
								<td th:text="${tprequest.idVacant.name}"></td>
								<td th:text="${tprequest.idUser.name}"></td>
								<td th:text="${#dates.format(tprequest.dateR, 'dd-MM-yyyy')}"></td>
								<td><a th:href="@{/delete/{id} (id=${tprequest.id}) }"
									onclick="return confirm('¿Estas seguro?')"
									class="btn btn-success btn-sm" role="button"
									title="Eliminar el registro."><i class="fas fa-trash"
										aria-hidden="true"></i></a> <a
									th:href="@{/save/{archivoCV} (archivoCV=${tprequest.archive}) } "
									target="_blank" class="btn btn-success btn-sm" role="button"
									title="Descargar Curriculm Vitae."><i
										class="fas fa-download" aria-hidden="true"></i></a></td>
							</tr>
						</tbody>
					</table>
					<nav th:if="${request.totalPages > 0}"
						aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item"><a
								th:href="@{/indexPaginate(page=${request.number -1}) }"
								class="page-link">Anterior</a></li>
							<li class="page-item"><a
								th:href="@{/indexPaginate(page=${request.number +1}) }"
								class="page-link">Siguiente</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</main>
	<footer th:insert="fragments/footer :: footer-main" class="footer"></footer>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>