<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>JobsHere App | Creación de Ofertas de Trabajo</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet" />
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet" />
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
	rel="stylesheet" />
</head>

<body>

	<header th:insert="fragments/menu :: menu-main"> </header>

	<main role="main">
		<hr>
		<div class="container">

			<div class="card">
				<h4 class="card-header">
					<strong>Datos de la oferta de trabajo</strong>
				</h4>
				<div class="card-body">
					<form th:action="@{/vacancies/save}" method="post"
						th:object="${vacant}" enctype="multipart/form-data">
						<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
							role="alert">
							Por favor corrija los siguientes errores:
							<ul>
								<li th:each="err: ${#fields.errors('*')}" th:text="${err}" />
							</ul>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="nombre">Nombre</label> <input type="hidden"
										th:field="*{id}"> <input type="hidden"
										th:field="*{image}"> <input th:field="*{name}"
										type="text" class="form-control" id="name" name="name"
										placeholder="Titulo de la oferta de trabajo"
										required="required">
								</div>
							</div>
							<div class="col-md-9">
								<div class="form-group">
									<label for="descripcion">Descripción</label> <input
										th:field="*{description}" type="text" class="form-control"
										id="description" name="description"
										placeholder="Breve descripcion de la oferta de trabajo"
										required="required">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="categoria">Categoría</label> <select
										th:field="*{category.id}" class="form-control" name="category">
										<option th:each="category: ${categories}"
											th:value="${category.id}" th:text="${category.name}"></option>
									</select>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="status">Estatus</label> <select
										th:field="*{status}" class="form-control" name="status"
										id="status">
										<option value="Creada">Creada</option>
										<option value="Aprobada">Aprobada</option>
										<option value="Eliminada">Eliminada</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="date">Fecha de Publicación</label> <input
										th:field="*{date}" type="text" class="form-control"
										name="date" id="date" placeholder="Fecha de publicacion"
										required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-check">
									<label class="form-check-label" for="favorite"></label><br>
									<input th:field="*{favorite}" class="form-check-input"
										type="radio" name="favorite" id="favorite" checked="checked"
										value=1> <label class="form-check-label"
										for="favorite">Destacado</label>

								</div>
								<div class="form-check">
									<label class="form-check-label" for="favorite"></label><br>
									<input th:field="*{favorite}" class="form-check-input"
										type="radio" name="favorite" id="favorite" value=0
										checked="checked"> <label class="form-check-label"
										for="favorite"> No Destacado</label>

								</div>

							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="salario">Salario Ofrecido (Aprox)</label> <input
										th:field="*{salary}" type="text" class="form-control"
										name="salary" id="salary" placeholder="Salario aproximado."
										required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="archivoImagen">Imagen</label> <input type="file"
										class="form-control-file" name="fileImage" id="image">
								</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-9">
								<div class="form-group">
									<label for="detalles"><strong>Detalles</strong></label>
									<textarea th:field="*{details}" class="form-control"
										name="details" id="details" rows="7"></textarea>
								</div>
							</div>
							<div class="col-md-3">
								<label for="imagen">Imagen/Logo</label> <img
									class="rounded mx-auto d-block"
									th:src="@{/logos/{img} (img=${vacant.image})}"
									alt="Generic placeholder image" width="200" height="200" />

							</div>
						</div>
						<button type="submit" class="btn btn-primary">Guardar</button>
					</form>
				</div>
			</div>
		</div>
		<!-- /container -->

	</main>

	<footer th:insert="fragments/footer :: footer-main" class="footer">

	</footer>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/tinymce/tinymce.min.js}"></script>
	<script>      
      $(function () {
          $("#date").datepicker({dateFormat: 'dd-mm-yy'});
        }
      );
      

      tinymce.init({
          selector: '#details',
          plugins: "textcolor, table lists code",
          toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                    | bullist numlist outdent indent | forecolor backcolor table code"
      });
      
      
      
    </script>
</body>
</html>